.custom-pagination {
    .pagination {
        list-style-type: none;
        float: right;
        margin: 10px 0;
    }

    .showItems {
        display: flex;
        align-items: center;
        select {
            border: 1px solid #bababa;
            border-radius: 8px;
            padding-left: 10px !important;
            padding-right: 30px !important;
            margin-right: 10px;
        }
        li {
            list-style-type: none;
            display: inline-block;
            margin-left: 10px;
        }
    }

    .pagination-item {
        display: flex;
        color: #ddd;
    }

    .pagination-item button {
        text-decoration: none;
        width: fit-content;
        margin: 5px;
        font-size: 14px;
        font-weight: 400;
        width: 20px;
        color: #000000;
    }

    .pagination-item button.disabled {
        path {
            fill: #ccc;
            cursor: no-drop;
        }
    }

    .pagination-item .active {
        background-color: #4c5457;
        color: #ffffff !important;
        border-radius: 100px;
        padding: 5px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pagination-item button {
        border: none;
        cursor: pointer;
        background: none;
    }

    button[disabled],
    html input[disabled] {
        color: lightgray;
        cursor: not-allowed;
    }
}
