@use '../utils/variables.scss' as var;

.budget_header{
    padding: 20px;
    background-color: var.$secondaryColor;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: space-between;

    .avatar_bgColor{
        background-color: var.$primaryText;
    }
}