@mixin button-base($color) {
    font-size: 16px;
    font-weight: 500;
    color: $color;
   
  }

  // @mixin button-base($color,$bg_color,$hover_bg_color,$hover_color,$spin_color) {
  //   font-size: 16px;
  //   font-weight: 500;
  //   color: $color;
  //   background-color:$bg_color;

  //   &:hover{
  //     background-color:$hover_bg_color;
  //     color:$hover_color;
  //   }
  //   .btn_spinner{
  //     svg{
  //       stroke:$spin_color
  //     }
  //   }
  // }